<nav>
  <div class="logo"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></div>
  <input type="checkbox" id="toggle-nav" onclick="toggleScrollingOnMobileNavigation()">
  <label for="toggle-nav" class="toggle-nav-button">
    <i class="material-icons">menu</i>
  </label>
  <ul>
    <li><a href="{{ .Site.BaseURL }}/about">About</a></li>
    <li><a href="{{ .Site.BaseURL }}/contribute">Contribute</a></li>
    {{ with .Site.Params.github }}
    <li><a href="{{.}}">View on GitHub</a></li>
    {{ end }}
    <li class="toggled"><a href="#">Imprint</a></li>
    <li class="category-header">
      <div class="divider-centered"></div>
      <div class="category-header-text">Categories</div>
      <div class="divider-centered"></div>
    </li>
    {{ range .Site.Taxonomies.categories }}
    <li class="category-entry"><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
    {{ end }}
  </ul>
</nav>